.pn-button {
  width: 80px;
  background-color: transparent;
  border: 1px solid $pn-lines-color;
  color: $pn-tertiary-color;
  border-radius: 10px;
  padding: $pn-padding-xs $pn-padding-s;
  font-size: 0.7rem;
  cursor: pointer;
}

.pn-button:active {
  transform: scale(0.95);
  background-color: $pn-tertiary-color;
  color: $pn-main-color;
  box-shadow: 1px 3px 3px $pn-lines-color;
}
