.main-section {
  width: 100svw;
  height: 77svh;
  @extend %display;
  flex-direction: column;
}

.buttons-div {
  width: 100%;
  height: 5svh;
  @extend %display;
  flex-wrap: wrap;
  gap: $pn-gap-m;
}

.main-div {
  width: 95%;
  height: 65svh;
  flex-wrap: wrap;
  @include flex(row, flex-start, center, $pn-padding-xs);
}

.pagination-div {
  width: 100%;
  height: 5svh;
  margin-top: $pn-margin-s;
  @extend %display;
  flex-wrap: wrap;
  border: 2px solid yelow;
  gap: $pn-gap-m;
}
