.main-section {
  width: 100svw;
  min-height: 75svh;
  @include flex(column, flex-start, center, $pn-gap-s);
}

.buttons-div {
  width: 95%;
  height: auto;
  height: auto;
  @include flex(row, center, center, $pn-gap-m);
  flex-wrap: wrap;
}

.main-div {
  width: 95%;
  height: auto;
  margin-top: $pn-margin-s;
  @include flex(row, space-around, flex-start, $pn-gap-s);
  align-content: flex-start;
}

.pagination-div {
  width: 95%;
  height: auto;
  margin-top: $pn-margin-ss;
  @extend %display;
  flex-wrap: wrap;
  gap: $pn-gap-m;
}
