.news-div {
  width: 98%;
  min-height: 50px;
  @include flex(row, space-between, center, $pn-padding-xs);
  flex-wrap: wrap;
  background-color: $pn-bg-color;
  border-top: 1px solid $pn-lines-color;
  border-bottom: 1px solid $pn-lines-color;
  border-radius: 5px;
  padding: $pn-padding-s $pn-padding-l;

  .title-div,
  .misc-div {
    @include flex(row, flex-start, center, $pn-padding-xs);
    text-align: center;
  }

  .misc-div {
    gap: $pn-gap-m;
  }

  a:hover {
    color: $pn-tertiary-color;
    transform: scaleX(1.1);
    transform-origin: left;
  }

  a,
  p {
    font-size: $font-size-small;
  }

  .news-title {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .news-title,
  .number-news {
    font-size: $font-size-base;
  }
}

.number-news {
  margin-left: $pn-margin-s;
}

.pagination-div {
  button {
    width: 30px;
    padding: $pn-padding-xs;
    text-align: center;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    border: 1px solid $pn-tertiary-color;
    color: $pn-tertiary-color;
    cursor: pointer;

    &:hover {
      background-color: $pn-tertiary-color;
      color: $pn-main-color;
    }
  }
}
