@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
}

:root {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLOR */
  $pn-main-color: #242424;
  $pn-secondary-color: #DBFF5E;
  $pn-tertiary-color: #f0f0f0;

  /* GAP */
  $pn-gap-ss: 5px;
  $pn-gap-s: 10px;
  $pn-gap-m: 20px;
  $pn-gap-l: 25px;

  /* PADDING */
  $pn-padding-xxs: 3px;
  $pn-padding-xs: 5px;
  $pn-padding-s: 10px;
  $pn-padding-m: 15px;
  $pn-padding-l: 20px;
  $pn-padding-xl: 30px;

  color: $pn-secondary-color;
  background-color: $pn-main-color;
}